<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktutorial" version="1">
	<MenuBar>
		<Menu name="help" >
			<Action name="tutorials" group="ktutorial" />
		</Menu>
	</MenuBar>
</gui>

