[Desktop Entry]
Name=KTutorial editor
Name[bs]=KTutorial uređivač
Name[cs]=Editor KTutorial
Name[de]=KTutorial-Editor
Name[es]=Editor de KTutorial
Name[et]=KTutoriali redaktor
Name[fi]=KTutorial-muokkain
Name[fr]=Éditeur KTutorial
Name[ga]=Eagarthóir KTutorial
Name[gl]=Editor de KTutorial
Name[hu]=KTutorial szerkesztő
Name[it]=Editor di KTutorial
Name[mr]=के-ट्युटोरियल संपादक
Name[nl]=KTutorial-bewerker
Name[pl]=Edytor KTutorial
Name[pt]=Editor do KTutorial
Name[pt_BR]=Editor KTutorial
Name[sk]=Editor KTutorial
Name[sv]=Ktutorial editor
Name[tr]=KTutorial düzenleyici
Name[uk]=Редактор KTutorial
Name[x-test]=xxKTutorial editorxx
GenericName=Editor for KTutorial tutorials
GenericName[ast]=Editor pa tutoriales KTutorial
GenericName[bs]=Uređivač KTutorial tutorijale
GenericName[de]=Editor für KTutorial-Anleitungen
GenericName[es]=Editor para las guías de KTutorial
GenericName[et]=KTutoriali õppematerjalide redaktor
GenericName[fi]=KTutorial-ohjaustuokioiden muokkain
GenericName[fr]=KTutorial, éditeur de tutoriels 
GenericName[ga]=Eagarthóir Cúrsaí Teagaisc KTutorial
GenericName[gl]=Editor de tutoriais do KTutorial
GenericName[hu]=Szerkesztő a KTutorial ismertetőkhöz
GenericName[it]=Editor per lezioni di KTutorial
GenericName[mr]=के-ट्युटोरियल ट्यटोरियल्स करिता संपादक
GenericName[nl]=Bewerker voor KTutorial-handleidingen
GenericName[pl]=Edytor dla samouczków KTutorial
GenericName[pt]=Editor de tutoriais do KTutorial
GenericName[pt_BR]=Editor para os tutoriais do KTutorial
GenericName[sk]=Editor pre kurzy KTutorial
GenericName[sv]=Editor för Ktutorial handledningar
GenericName[tr]=KTutorial öğreticileri için düzenleyici
GenericName[uk]=Редактор для підручників KTutorial
GenericName[x-test]=xxEditor for KTutorial tutorialsxx
Exec=ktutorial-editor
Type=Application
Categories=Qt;KDE;Development;Documentation;
Terminal=false
