[Desktop Entry]
Name=KTutorial editor
Name[et]=KTutoriali redaktor
Name[ga]=Eagarthóir KTutorial
Name[hu]=KTutorial szerkesztő
Name[nl]=KTutorial-bewerker
Name[pt]=Editor do KTutorial
Name[pt_BR]=Editor KTutorial
Name[sk]=Editor KTutorial
Name[sv]=Ktutorial editor
Name[uk]=Редактор KTutorial
Name[x-test]=xxKTutorial editorxx
GenericName=Editor for KTutorial tutorials
GenericName[et]=KTutoriali õppematerjalide redaktor
GenericName[hu]=Szerkesztő a KTutorial ismertetőkhöz
GenericName[nl]=Bewerker voor KTutorial-handleidingen
GenericName[pt]=Editor de tutoriais do KTutorial
GenericName[pt_BR]=Editor para os tutoriais do KTutorial
GenericName[sk]=Editor pre kurzy KTutorial
GenericName[sv]=Editor för Ktutorial handledningar
GenericName[uk]=Редактор для підручників KTutorial
GenericName[x-test]=xxEditor for KTutorial tutorialsxx
Exec=ktutorial-editor
Type=Application
Categories=Qt;KDE;Development;Documentation;
Terminal=false
